<h1>autobrr</h1>

<p>This article will show you how to install autobrr and troubleshoot common issues. <a href="https://autobrr.com">autobrr</a> is the modern autodl-irssi replacement. Using this you'll be able to connect to a tracker's announce channel and rss to automatically download data based on filters.</p>
<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="/wiki/slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#installation-auto">Installation - bash script</a></li>
            <li><a href="#start-stop-restart">Starting, stopping and restarting</a>
                <ul>
                    <li><a href="#auto-restart">Automatically restarting autobrr if it is not running</a></li>
                </ul>
            </li>
            <li><a href="#troubleshooting">Troubleshooting</a></li>
            <li><a href="#update">Update</a></li>
            <li><a href="#uninstallation">Uninstallation</a></li>
        </ol>
    </nav>
</details>

<h2 id="installation-auto">Installation - bash script</h2>
<p>You can copy and paste the following to run an installation script for autobrr:</p>
<p><kbd>wget -qO ~/install.autobrr.sh https://bitbucket.org/feralio/wiki/raw/HEAD/src/wiki/software/autobrr/autobrr.sh &amp;&amp; bash ~/install.autobrr.sh</kbd></p>
<p>It will ask for a password to be used in the webui.</p>
<p>And thats it! It will now be available on <kbd>https://server.feralhosting.com/username/autobrr/</kbd> </p>

<h2 id="start-stop-restart">Starting, stopping and restarting</h2>
<p>This section covers the autobrr process - starting it, stopping it and restarting it. It also covers checking if the process is running, in case that becomes necessary.</p>

<p>You can start autobrr with the following:</p>
<p><kbd>~/.autobrr.cron</kbd></p>

<p>If you need to check that it's running, you can run the command below. If the process is running a list of relevant process ID numbers will be listed. If nothing is listed, the process is not running.</p>
<p><kbd>pgrep -fu "$(whoami)" "autobrr"</kbd></p>

<p>Stop autobrr</p>
<p><kbd>pkill -fu "$(whoami)" 'autobrr'</kbd></p>

<p>restart autobrr</p>
<p><kbd>pkill -fu "$(whoami)" 'autobrr' &amp;&amp; ~/.autobrr.cron</kbd></p>

<h3 id="auto-restart">Automatic restart</h3>
<p>The installer sets up a cron job to automatically restart autobrr if needed. There is a separate page on <a href="/wiki/slots/cron">configuring cron jobs</a>.</p>

<h2 id="troubleshooting">Troubleshooting</h2>
<p>If you experience issues or crashes using autobrr the first thing to try and do is restart the software using the command listed in the section above, <i>Starting, stopping and restarting</i>.</p>
<p>For issues with the program or help, check the <a href="https://autobrr.com">official documentation</a> and the <a href="https://github.com/autobrr/autobrr">GitHub repo</a> or join the official Discord found on the docs.</p>

<h2 id="update">Update</h2>
<p>To update autobrr you need the installer. If you already have it run the following and choose the Update option:</p>
<p><kbd>bash ~/install.autobrr.sh</kbd></p>

<p>If you have removed the install script, run this and choose the Update option:</p>

<p><kbd>wget -qO ~/install.autobrr.sh https://bitbucket.org/feralio/wiki/raw/HEAD/src/wiki/software/autobrr/autobrr.sh &amp;&amp; bash ~/install.autobrr.sh</kbd></p>

<h2 id="uninstallation">Uninstallation</h2>
<aside class="alert note">The commands below will completely remove the software and its config files! It creates a backup before removing.</aside>

<p>If you already have the installer, you can use that to remove autobrr. Run this command and choose the Uninstall option.</p>
<kbd>bash ~/install.autobrr.sh</kbd>

<p>If you have removed the install script, run this and choose the Uninstall option:</p>

<p><kbd>wget -qO ~/install.autobrr.sh https://bitbucket.org/feralio/wiki/raw/HEAD/src/wiki/software/autobrr/autobrr.sh &amp;&amp; bash ~/install.autobrr.sh</kbd></p>