<h1>Bazarr</h1>
<p><a href="https://www.bazarr.media/">Bazarr</a> is a companion application to Sonarr and Radarr. It manages and downloads subtitles based on your requirements.</p>

<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#install">Installation</a></li>
            <li><a href="#usage">Usage</a></li>
            <li><a href="#uninstall">Uninstallation</a></li>
        </ol>
    </nav>
</details> 

<h2 id="install">Installation</h2>
<ol>
    <li>You'll need to <a href="python">install Python</a>.</li>
    <li>Next, you'll need to copy and paste the following <a href="../slots/ssh">SSH commands</a>:
        <pre><kbd>wget https://github.com/morpheus65535/bazarr/releases/download/v1.1.1/bazarr.zip
unzip bazarr.zip -d bazarr
rm bazarr.zip
cd bazarr
python -m pip install -r requirements.txt</kbd></pre>
    </li>
    <li>After starting it for the first time you <em>must</em> set up authentication. You can find this under Settings (in the menu), General (in the menu), Security (page section), Authentication (drop-down) and select "Basic" then fill out a username and password.</li>
    <li>Consider setting up the <a href="../slots/cron">example cron</a> for automatic restarts.</li>
</ol>

<h2 id="usage">Usage</h2>
<p>You can start Bazarr and print its URL with the following:</p>
<pre><kbd>port=$(shuf -i 10001-32001 -n 1) &amp;&amp; screen -dmS bazarr /bin/bash -c "python ~/bazarr/bazarr.py -p $port" &amp;&amp; echo "http://$(hostname -f):$port/"</kbd></pre>
<aside class="alert note">You must set up authentication.</aside>

<p>If you need to check that it's running, you can run the command below. If the process is running a list of relevant process ID numbers will be listed. If nothing is listed, the process is not running.</p>
<pre><kbd>pgrep -laf bazarr</kbd></pre>
<p>The Bazarr process is stopped by executing:</p>
<pre><kbd>pkill -f bazarr</kbd></pre>
<p>If the process has crashed and will not stop when requested, you can kill it with:</p>
<pre><kbd>pkill -f -9 bazarr</kbd></pre>

<h2 id="uninstall">Uninstallation</h2>
<p>The install keeps everything in the folder <samp>~/bazarr</samp>. Uninstalling involves deleting these files and stopping the Bazarr process.</p>
<p>This can be done with the <a href="../slots/ssh">SSH command</a>:</p>
<pre><kbd>rm -rf ~/bazarr; pkill -f -9 bazarr</kbd></pre>