<h1>Ombi</h1>
<p>This article will show you how to install Ombi. Ombi allows your shared Plex or Emby users the ability to request content by themselves.</p>

<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#installation">Installation</a></li>
            <li><a href="#start-stop-restart">Starting, stopping and restarting</a>
                <ul>
                    <li><a href="#auto-restart">Automatically restarting Ombi if it is not running</a></li>
                </ul>
            </li>
            <li><a href="#configure">Configuration</a></li>
            <li><a href="#uninstallation">Uninstallation</a></li>
            <li><a href="#external-links">External links</a></li>
        </ol>
    </nav>
</details> 

<h2 id="installation">Installation</h2>
<p>Install Ombi by logging in via SSH, then copying and pasting the following:</p>
<pre><kbd>mkdir -p ~/opt/Ombi
cd ~/opt/Ombi
wget -q $(curl -s https://api.github.com/repositories/52522046/releases/latest | grep 'browser_' | cut -d\" -f4 | head -n 3 | tail -n 1)
tar xf linux-x64.tar.gz
chmod +x Ombi
cp /usr/lib/x86_64-linux-gnu/libsqlite3.so libe_sqlite3.so
rm ~/opt/Ombi/linux-x64.tar.gz</kbd></pre>

<h2 id="start-stop-restart">Starting, stopping and restarting</h2>
<p>This section covers the Ombi process - starting it, stopping it and restarting it. It also covers checking if the process is running, in case that becomes necessary.</p>
<p>You can start Ombi and print its URL with the following:</p>
<pre><kbd>cd ~/opt/Ombi; screen -dmS Ombi ~/opt/Ombi/Ombi --host http://*:<var>port</var></kbd></pre>
<p><strong>Replace</strong> <var>port</var> with a port number between 1024 and 32001. If nothing happens when you run the command or there is an error it could be that the port picked is in use. Try again with another port number.</p>
<p>Ombi may take a little while to start up. You'll be able to access it at http://<var>server</var>.feralhosting.com:<var>port</var>, where</p>
<ul>
    <li><var>server</var> is replaced with the name of your server (e.g. zeus)</li>
    <li><var>port</var> is replaced with the port number you picked earlier.</li>
</ul>
<p>So if you are on the server Brontes and picked 36135, you'd access it at:</p>
<p><samp>http://brontes.feralhosting.com:36135</samp></p>

<p>If you need to check that it's running, you can run the command below. If the process is running a list of relevant process ID numbers will be listed. If nothing is listed, the process is not running.</p>
<p><kbd>pgrep -fu "$(whoami)" "Ombi"</kbd></p>
<p>The Ombi process is stopped by executing:</p>
<p><kbd>pkill -fu "$(whoami)" 'Ombi'</kbd></p>
<p>If Ombi needs to be restarted, copy and paste these commands:</p>
<pre><kbd>pkill -fu "$(whoami)" 'Ombi'
screen -dmS Ombi ~/opt/Ombi/Ombi --host http://*:<var>port</var></kbd></pre>

<p>Please note that if you want to stop the process for Ombi, it's best to check it afterwards to make sure it has stopped. If the process has crashed and will not stop when requested, you can kill it with:</p>
<p><kbd>pkill -9 -fu "$(whoami)" 'Ombi'</kbd></p>

<h3 id="auto-restart">Automatically restarting Ombi if it is not running</h3>
<p>Cron jobs can be used to check if Ombi is running and start it up if it is not. There is a separate page on <a href="../slots/cron">configuring cron jobs</a>.</p>

<h2 id="configure">Configuration</h2>
<p>When you first access Ombi as per the instructions in the <samp>Starting, stopping and restarting</samp> section above, you'll be taken through their setup wizard.</p>

<h2 id="uninstallation">Uninstallation</h2>
<aside class="alert note">The commands below will completely remove the software and its config files - back up important data first!</aside>

<pre><code>pkill -9 -fu "$(whoami)" 'Ombi'
rm -rf ~/opt/Ombi</code></pre>

<h2 id="external-links">External links</h2>
<ul>
    <li><a href="https://ombi.io/">Ombi's homepage</a></li>
    <li><a href="https://github.com/tidusjar/Ombi">Ombi's GitHub repo</a></li>
</ul>