<h1>PHPMyAdmin</h1>
<aside class="alert note">This software requires you first <a href="/wiki/software/mysql">install MySQL</a></aside>

<p>This article will show you how to install PHPMyAdmin. PHPMyAdmin provides a more user-friendly way to manage databases than the MySQL command line.</p>

<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="/wiki/slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#installation-auto">Installation - bash script</a></li>
            <li><a href="#installation-manual">Installation - manual</a>
                <ul>
                    <li><a href="#configure">Configuring the manual installation</a></li>
                </ul>
            </li>
            <li><a href="#troubleshooting">Troubleshooting</a></li>
            <li><a href="#uninstallation">Uninstallation</a></li>
        </ol>
    </nav>
</details> 

<h2>Installation - bash script</h2>
<p>The following script will allow you to do install and uninstall PHPMyAdmin easily. To run it, simply log in via SSH then copy and paste the following:</p>
<p><kbd>wget -qO ~/install.phpmyadmin.sh https://bitbucket.org/feralio/wiki/raw/HEAD/src/wiki/software/phpmyadmin/phpmyadmin.sh &amp;&amp; bash ~/install.phpmyadmin.sh</kbd></p>
<p>Follow the on-screen istructions to either install or uninstall PHPMyAdmin. Once installed, the URL you need to access the software will be displayed.</p>

<h2>Installation - manual</h2>
<p>Install PHPMyAdmin by logging in via SSH, then copying and pasting the following:</p>
<pre><kbd>wget -qO ~/phpMyAdmin.zip https://files.phpmyadmin.net/phpMyAdmin/4.7.7/phpMyAdmin-4.7.7-all-languages.zip
unzip -qo ~/phpMyAdmin.zip -d ~/
mkdir -p ~/www/$(whoami).$(hostname -f)/public_html/phpmyadmin
cp -rf ~/phpMyAdmin-*-all-languages/. ~/www/$(whoami).$(hostname -f)/public_html/phpmyadmin
cd &amp;&amp; rm -rf phpMyAdmin{-*-languages,.zip}</kbd></pre>

<h3>Configuring the manual installation</h3>
<p>Once all that is done, access the PHPMyAdmin setup page to configure your MySQL instance. The setup page is accessible at:</p>
<p><kbd>http://<var>server</var>.feralhosting.com/<var>username</var>/phpmyadmin/setup/</kbd></p>
<p>In the above command, replace <var>server</var> with the name of your server (e.g. mimas or zeus) and <var>username</var> with the slot's username.</p>

<p>On that page press the <samp>New server</samp> button. Fill in the details as follows:</p>

<dl>
    <dt>Verbose name of this server</dt>
    <dd>Pick a name of your own choosing, or leave it blank</dd>
    <dt>Server hostname</dt>
    <dd>Clear this field entirely</dd>
    <dt>Server socket</dt>
    <dd>Your MySQL socket - this is provided on your software page</dd>
</dl>
<p>Then click on <samp>Display</samp> to bring up the config we just created. Go to your SSH terminal window and execute the following command:</p>
<p><kbd>nano ~/www/$(whoami).$(hostname -f)/public_html/phpmyadmin/config.inc.php</kbd></p>
<p>Copy the config displayed on PHPMyAdmin's setup page and paste it (with <kbd>shift</kbd> + <kbd>insert</kbd> into the terminal window</p>
<p>Once you're done hold <kbd>ctrl</kbd> + <kbd>x</kbd> to save. Press <kbd>y</kbd> to confirm.</p>
<p>Finally, run the following command in the SSH terminal window so that you can use PHPMyAdmin via HTTPS:</p>
<p><kbd>sed -ri "s|$i = 0;|$i = 0;\n\$cfg['PmaAbsoluteUri'] ='https://$(hostname -f)/$(whoami)/phpmyadmin/';|g" ~/test</kbd></p>

<p>PHPMyAdmin will then be accessible at:</p>
<p>https://<var>server</var>.feralhosting.com/<var>username</var>/phpmyadmin/</p>
<p>In the above command <var>server</var> is replaced by your server name (e.g. mimas or zeus) and <var>username</var> is replaced by the slot's username. You can log in using the MySQL details found on your software page to the left-hand side.</p>

<h2 id="troubleshooting">Troubleshooting</h2>
<dl>
    <dt>When trying to log in to PHPMyAdmin I get an error "Cannot log in to the MySQL server"</dt>
    <dd><p>Make sure you're entering the correct MySQL username (by default, <kbd>root</kbd>) and password. If you're sure you are, you've most likely misconfigured PHPMyAdmin. Please go through the setup again.</p></dd>
</dl>

<h2 id="uninstallation">Uninstallation</h2>
<aside class="alert note">The commands below will completely remove PHPMyAdmin back up important data first!</aside>

<p><code>rm -rf ~/www/$(whoami).$(hostname -f)/public_html/phpmyadmin/</code></p>