<h1>Python</h1>
<p>Python is a popular programming langauge used by some programs. The programs will depend on specific versions. This guide provides an easy way to specify the Python version running on your slot.</p>

<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#install">Installation</a></li>
            <li><a href="#usage">Usage</a></li>
            <li><a href="#uninstall">Uninstallation</a></li>
        </ol>
    </nav>
</details> 

<h2 id="install">Installation</h2>
<p>Python is already installed on your server.</p>
<p>If you require a more recent version, copy and paste the <a href="../slots/ssh">SSH commands</a> below. If you want to install a specific version then modify the <samp>version=<em>...</em></samp> on the first line.</p>

<pre><kbd>version=3.9.7
# Download
wget "https://www.python.org/ftp/python/$version/Python-$version.tgz"
tar -zxvf "Python-$version.tgz"
rm "Python-$version.tgz"
cd "Python-$version"
# Install
./configure --prefix=$HOME/python
make
make altinstall
cd ..
rm -r "Python-$version"
majMin="${version%.*}"
ln -s "$HOME/python/bin/python${majMin}" ~/python/bin/python
ln -s "$HOME/python/bin/pip${majMin}" ~/python/bin/pip</kbd></pre>

<p>The folder <samp>~/python/bin</samp> will be in your <samp>$PATH</samp>. This means that when Python installs programs to this folder, they will be used over other installations. You may need to log out of SSH and then log back in for it to work.</p>

<h2 id="usage">Usage</h2>
<p>After installation you will find that <kbd>python</kbd> runs your installed version. You can check to see the version installed by running the Python command:</p>
<p><kbd>python -V</kbd></p>

<p>The installation will also <a href="pip.html">make pip available</a>. If you need to use it, please see see its own guide.</p>

<h2 id="uninstall">Uninstallation</h2>
<p>The install keeps everything in the folder <samp>~/python</samp> and creates two links (<samp>python</samp> and <samp>pip</samp>) under <samp>~/bin</samp. Uninstalling involves deleting these files.</p>
<p>This can be done with the <a href="../slots/ssh">SSH command</a>:</p>
<pre><kbd>rm -rf ~/python ~/bin/python ~/bin/pip</kbd></pre>
