<h1>qBittorrent</h1>
<p>This article will show you how to install and configure qBittorrent (<a href="https://www.qbittorrent.org/">project website</a>, <a href="https://github.com/qbittorrent/qBittorrent/">GitHub repository</a>). qBittorrent can be used as an alternative to <a href="/wiki/software/rutorrent">ruTorrent</a>, <a href="/wiki/software/deluge">Deluge</a> or <a href="/wiki/software/transmission">Transmission</a>.</p>
<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="/wiki/slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#installation">Installation</a></li>
            <li><a href="#start-stop-restart">Starting, stopping and restarting</a></li>
            <li><a href="#troubleshooting">Troubleshooting</a></li>
            <li><a href="#uninstallation">Uninstallation</a></li>
        </ol>
    </nav>
</details>

<h2 id="installation">Installation</h2>
<p>Installation and configuration is done entirely by a script. Copy and paste the following command to install qBittorrent:</p>
<pre><kbd>wget -qO ~/install.qbittorrent.sh https://bitbucket.org/feralio/wiki/raw/HEAD/src/wiki/software/qbittorrent/install && bash ~/install.qbittorrent.sh</kbd></pre>
<p>This script will output a success message alongside your login details: a URL, a username and a password. The password is not stored anywhere so you will need to save it. Your browser's password manager is good location. Since qBittorrent is run in a container, it can only be started by the auto-restart. So you will need to wait five minutes for qBittorrent to be started.</p>

<h2 id="start-stop-restart">Starting, stopping and restarting</h2>
<p>This section covers the qBittorrent process - starting it, stopping it and restarting it. It also covers checking if the process is running, in case that becomes necessary.</p>
<dl>
    <dt>start</dt>
    <dd>You cannot start qBittorrent manually. Wait five minutes for it to auto-restart.</dd>
    <dt>check running</dt>
    <dd><kbd>pgrep -laf qbittorrent-nox</kbd></dd>
    <dt>stop</dt>
    <dd><kbd>pkill -f qbittorrent-nox</kbd></dd>
    <dt>kill (force stop)</dt>
    <dd><kbd>pkill -9 -f qbittorrent-nox</kbd></dd>
    <dt>restart</dt>
    <dd><kbd>pkill -f qbittorrent-nox</kbd> Then wait five minutes for it to auto-restart.</dd>
</dl>

<h2 id="troubleshooting">Troubleshooting</h2>
<dl>
    <dt>Visiting the URL gives a "502 Bad Gateway" error</dt>
    <dd>Wait five minutes for qbittorrent to be auto-restarted.</dd>

    <dt>Connectivity issues (no DHT nodes, not connecting to trackers)</dt>
    <dd>Installs not using the install script may see these errors. <a href="#installation">Run the install script</a> to reinstall (you do not need to uninstall first).</dd>

    <dt>Any other issues</dt>
    <dd>Try running the "kill" method using the section above and waiting five minutes for qbittorrent to restart.</dd>
</dl>

<h2 id="installation">Uninstallation</h2>
<aside class="alert note">The commands below will completely remove the software, downloaded data and its config files - back up important data first!</aside>
<p>The following SSH commands will uninstall qbittorrent from your slot. You do not need to run them if reinstalling.</p>
<pre><kbd>rm -rf ~/bin/qbittorrent-nox ~/install.qbittorrent.sh ~/.config/feral/user-container.d/wiki-qbittorrent ~/.nginx/conf.d/000-default-server.d/wiki-qbittorrent.conf
rm -rf ~/.config/qBittorrent ./.cache/qBittorrent ~/.local/share/qBittorrent/ ~/private/qBittorrent
/usr/sbin/nginx -s reload -c ~/.nginx/nginx.conf 2>/dev/null
pkill -9 -f qbittorrent-nox
echo Uninstalled.
</kbd></pre>