<h1>SABnzbd</h1>

<p>This article will show you how to install SABnzbd. SABnzbd can be used to download binary files from Usenet servers.</p>

<p>You'll need to execute some commands via SSH to install this software. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#installation">Installation</a>
                <ul>
                    <li><a href="#pre-config">Configuring before starting SABnzbd</a></li>
                </ul>
            </li>
            <li><a href="#start-stop-restart">Starting, stopping and restarting</a>
                <ul>
                    <li><a href="#auto-restart">Automatically restarting SABnzbd if it is not running</a></li>
                </ul>
            </li>
            <li><a href="#troubleshooting">Troubleshooting</a></li>
            <li><a href="#external-links">External links</a></li>
        </ol>
    </nav>
</details> 

<h2 id="installation">Installation</h2>
<p>To start, <a href="python">install Python</a>.</li>
<p>Next, you'll need to copy and paste the following <a href="../slots/ssh">SSH commands</a>. If you want to install a specific version then modify the <samp>version=<em>...</em></samp> on the first line.</p>
<pre><kbd>version=4.0.1
wget -qO ~/sabnzbd.tar.gz "https://codeload.github.com/sabnzbd/sabnzbd/tar.gz/refs/tags/${version}"
tar xf ~/sabnzbd.tar.gz
rm ~/sabnzbd.tar.gz
cd "sabnzbd-${version}"
python -m pip install -r requirements.txt -U</kbd></pre>

<h2 id="pre-config">Configuring before starting SABnzbd</h2>
<p>You need to start and then close SABnzbd so that it'll create the necessary configs. Do so with the following command:</p>
<p><kbd>python ~/sabnzbd-*/SABnzbd.py</kbd></p>
<p>SABnzbd will then go through its launch procedure. Eventually you'll come to a setup wizard with language selection. At this point, press <kbd>ctrl</kbd> + <kbd>c</kbd> to close SABnzbd and create the config.</p>
<p>Then run the following command:</p>
<pre><kbd>sed -ri "s|host_whitelist = (.*)|host_whitelist = $(hostname -f)|g" ~/.sabnzbd/sabnzbd.ini
sed -ri "s|inet_exposure = (.*)|inet_exposure = 4|g" ~/.sabnzbd/sabnzbd.ini</kbd></pre>

<h2 id="start-stop-restart">Starting, stopping and restarting</h2>
<p>This section covers the SABnzbd process - starting it, stopping it and restarting it. It also covers checking if the process is running, in case that becomes necessary.</p>
<p>Replace <var>port</var> in the commands below with a port number between 10000 and 30000. Try to be as consistent as possible - if you change the port, you'll also need to change your proxypass configuration (if appropriate).</p>
<dl>
    <dt>start</dt>
    <dd><kbd>screen -fa -dmS sabnzbd python ~/sabnzbd-*/SABnzbd.py --browser 0 --server $(hostname -f):<var>port</var></kbd></dd>
    <dt>check running</dt>
    <dd><kbd>pgrep -fu "$(whoami)" "SABnzbd.py"</kbd></dd>
    <dt>stop</dt>
    <dd><kbd>pkill -fu "$(whoami)" 'SABnzbd.py'</kbd></dd>
    <dt>restart</dt>
    <dd><kbd>pkill -fu "$(whoami)" 'SABnzbd.py' &amp;&amp; screen -fa -dmS sabnzbd python ~/sabnzbd-*/SABnzbd.py --browser 0 --server $(hostname -f):<var>port</var></kbd></dd>
    <dt>kill (force stop)</dt>
    <dd><kbd>pkill -9 -fu "$(whoami)" 'SABnzbd.py'</kbd></dd>
</dl>
<p>The <samp>check running</samp> command will return a process number if SABnzbd is running. If it doesn't return anything, SABnzbd is not running.</p>

<h3 id="auto-restart">Automatically restarting SABnzbd if it is not running</h3>
<p>Cron jobs can be used to check if SABnzbd is running and start it up if it is not. There is a separate page on <a href="../slots/cron">configuring cron jobs</a>.</p>

<h2 id="uninstallation">Uninstallation</h2>
<aside class="alert note">The commands below will completely remove the software and its config files - back up important data first!</aside>

<pre><code>pkill -9 -fu "$(whoami)" 'SABnzbd.py'
rm -rf ~/SABnzbd-* ~/.sabnzbd</code></pre>

<h2 id="external-links">External links</h2>
<ul>
    <li><a href="https://sabnzbd.org/">SABnzbd homepage</a>
    <ul>
        <li><a href="https://sabnzbd.org/wiki/configuration/2.0/configure">Configuration</a></li>
        <li><a href="https://sabnzbd.org/wiki/faq">FAQ</a></li>
        <li><a href="https://forums.sabnzbd.org/">Forums</a></li>
    </ul>
    </li>
</ul>