<h1>$software - $subpage</h1>
<aside class="alert note">Important note</aside>

<p>This article will show you how to $article_aim. $software can be used to $purpose</p>

<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#installation">Installation</a>
                <ul>
                    <li><a href="#installation-notes">Installation notes</a></li>
                    <li><a href="#pre-config">Configuring before starting $software</a></li>
                </ul>
            </li>
            <li><a href="#start-stop-restart">Starting, stopping and restarting</a>
                <ul>
                    <li><a href="#auto-restart">Automatically restarting $software if it is not running</a></li>
                </ul>
            </li>
            <li><a href="#configure">Configuring</a></li>
            <li><a href="#usage">Using $software</a></li>
            <li><a href="#troubleshooting">Troubleshooting</a></li>
            <li><a href="#uninstallation">Uninstallation</a></li>
            <li><a href="#external-links">External links</a></li>
        </ol>
    </nav>
</details> 

<h2 id="installation">Installation</h2>
<p>Install $software by logging in via SSH, then copying and pasting the following:</p>
<pre><kbd>$installation</kbd></pre>

<h3 id="installation-notes">Installation notes</h3>
<p>Place any extra installation notes here</p>

<h3 id="pre-config">Configuring before starting $software</h3>
<p>Place any configuration which must be performed before an app can be started in a subsection here.</p>

<h2 id="start-stop-restart">Starting, stopping and restarting</h2>
<p>This section covers the $software process - starting it, stopping it and restarting it. It also covers checking if the process is running, in case that becomes necessary.</p>
<dl>
    <dt>start</dt>
    <dd><kbd>$start</kbd></dd>
    <dt>check running</dt>
    <dd><kbd>$check</kbd></dd>
    <dt>stop</dt>
    <dd><kbd>$stop</kbd></dd>
    <dt>restart</dt>
    <dd><kbd>$restart</kbd></dd>
    <dt>kill (force stop)</dt>
    <dd><kbd>$kill</kbd></dd>
</dl>

<h3 id="auto-restart">Automatically restarting $software if it is not running</h3>
<p>Cron jobs can be used to check if $software is running and start it up if it is not. There is a separate page on <a href="../slots/cron">configuring cron jobs</a>.</p>

<h2 id="configure">Configuring</h2>
<p>Since the configuration process for different software is so varied, no template can really be meaningful. However, a few pointers can be given:</p>

<ul>
    <li>If the software requires credentials from other software to be provided, set out the fields and their values using description lists.</li>
    <li>If you use images to show software lay out, bear in mind that users may be visually impaired - use alt tags to explain the image in brief.</li>
</ul>

<h2 id="usage">Using $software</h2>
<p>Documentation to use the software.</p>

<h2 id="troubleshooting">Troubleshooting</h2>
<p>If you experience issues or crashes using $software the first thing to try and do is restart the software using the command listed in the section above, "Starting, stopping and restarting"</p>

<p><span>$problem</span></p>
<p>$solution</p>

<h2 id="uninstallation">Uninstallation</h2>
<aside class="alert note">The commands below will completely remove the software, downloaded data and its config files - back up important data first!</aside>

<pre><code>$uninstall</code></pre>

<h2 id="external-links">External links</h2>