<h1>Tautulli</h1>

<p>This article will show you how to install (formerly PlexPy). Tautulli is a Python-based monitoring and tracking tool for Plex Media Server.</p>

<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#installation-auto">Installation - bash script</a></li>
            <li><a href="#installation-manual">Installation - manual</a>
                <ul>
                    <li><a href="#pre-config">Configuring before starting Tautulli</a></li>
                </ul>
            </li>
            <li><a href="#start-stop-restart">Starting, stopping and restarting</a>
                <ul>
                    <li><a href="#auto-restart">Automatically restarting Tautulli if it is not running</a></li>
                </ul>
            </li>
            <li><a href="#config">Using Tautulli</a></li>
            <li><a href="#troubleshooting">Troubleshooting</a></li>
            <li><a href="#uninstallation">Uninstallation</a></li>
            <li><a href="#external-links">External links</a></li>
        </ol>
    </nav>
</details> 

<h2 id="installation-auto">Installation - bash script</h2>
<p>First, <a href="https://www.feralhosting.com/wiki/software/python#install">update Python</a> on your slot. Don't forget to log out and then back in to apply the new version.</p>
<p>You can copy and paste the following to run an installation script for Tautulli:</p>
<p><kbd>wget -qO ~/install.tautulli.sh https://bitbucket.org/feralio/wiki/raw/HEAD/src/wiki/software/tautulli/tautulli.sh &amp;&amp; bash ~/install.tautulli.sh</kbd></p>
<p>The script will also allow you to restart the software, re-run the proxypass setup (if you've made the <a href="/wiki/software/nginx">switch to nginx</a>) and uninstall Tautulli.</p>

<h2 id="installation-manual">Installation - manual</h2>
<p>First, <a href="https://www.feralhosting.com/wiki/software/python#install">update Python</a> on your slot. Don't forget to log out and then back in to apply the new version.</p>
<p>Install Tautulli by logging in via SSH, then copying and pasting the following:</p>
<p><kbd>git clone https://github.com/Tautulli/Tautulli.git</kbd></p>

<h3 id="pre-config">Configuring before starting Tautulli</h3>
<p>You need to start and then close Tautulli so that it'll create the necessary configs. Do so with the following command:</p>
<p><kbd>screen -dmS Tautulli python ~/Tautulli/Tautulli.py &amp;&amp; sleep 10 &amp;&amp; pkill -fu "$(whoami)" 'Tautulli'</kbd></p>
<p>We also need to change the port number, since the default can naturally only be used once per server. To randomise it, run this command (the start command in the section below will tell you how to access Jackett):</p>
<p><kbd>sed -i 's|http_port = 8181|http_port = '$(shuf -i 10001-32001 -n 1)'|g' ~/Tautulli/config.ini</kbd></p>

<p>If you intend to follow the <a href="/wiki/slots/proxypass">guide to proxypassing</a>, run this command as well:</p>
<p><kbd>sed -i "s|http_root = \"\"|http_root = /$(whoami)/tautulli/|g" ~/Tautulli/config.ini</kbd></p>
<p>Please note that startup commands below assume you haven't done this - see the proxypass guide on help for the URL you'll need to use.</p>

<h2 id="start-stop-restart">Starting, stopping and restarting</h2>
<p>This section covers the Tautulli process - starting it, stopping it and restarting it. It also covers checking if the process is running, in case that becomes necessary.</p>
<dl>
    <dt>start</dt>
    <dd><kbd>screen -dmS Tautulli python ~/Tautulli/Tautulli.py &amp;&amp; echo -e "\nhttp://$(hostname -f):$(sed -rn 's|http_port = (.*)|\1|p' ~/Tautulli/config.ini)"</kbd></dd>
    <dt>check running</dt>
    <dd><kbd>pgrep -fu "$(whoami)" "SCREEN -dmS Tautulli"</kbd></dd>
    <dt>stop</dt>
    <dd><kbd>pkill -fu "$(whoami)" 'SCREEN -dmS Tautulli'</kbd></dd>
    <dt>restart</dt>
    <dd><kbd>pkill -fu "$(whoami)" 'SCREEN -dmS Tautulli' &amp;&amp; screen -dmS Tautulli python ~/Tautulli/Tautulli.py &amp;&amp; echo -e "\nhttp://$(hostname -f):$(sed -rn 's|http_port = (.*)|\1|p' ~/Tautulli/config.ini)"</kbd></dd>
    <dt>kill (force stop)</dt>
    <dd><kbd>pkill -9 -fu "$(whoami)" 'SCREEN -dmS Tautulli'</kbd></dd>
</dl>

<h3 id="auto-restart">Automatically restarting Tautulli if it is not running</h3>
<p>Cron jobs can be used to check if Tautulli is running and start it up if it is not. There is a separate page on <a href="/wiki/slots/cron">configuring cron jobs</a>.</p>

<h2 id="config">Using Tautulli</h2>
<p>Go to the URL provided by the script or start-up command. When it loads, you'll be presented with a Setup Wizard. After clicking <samp>Next</samp> on the welcome screen, you'll need to enter your Plex username and password then click <samp>Authenticate</samp>. Assuming the authentication is successful, click on <samp>Next</samp></p>
<p>At the next screen you'll need to select your Plex server. Click the dropdown and you should see an IP beginning with <samp>10</samp> and your server name in parentheses. Click this, and the text next to the verify button should read <samp>Server found!</samp>.</p>
<p>The next screens of the wizard are really personal preference. Choose the monitoring and notification options you wish, and read the text on important existing PlexWatch / Plexivity databases (noting the instructions, if importing applies to you).</p>
<p>Finally, click <samp>Finish</samp> and Tautulli should scan your Plex libraries and load up the homepage.</p>

<h2 id="troubleshooting">Troubleshooting</h2>
<p>If you experience issues or crashes using Tautulli the first thing to try and do is restart the software using the command listed in the section above, "Starting, stopping and restarting"</p>

<h2 id="uninstallation">Uninstallation</h2>
<aside class="alert note">The commands below will completely remove the software and its config files - back up important data first!</aside>

<pre><code>pkill -9 -fu "$(whoami)" 'SCREEN -dmS Tautulli'
rm -rf ~/Tautulli/</code></pre>

<h2 id="external-links">External links</h2>
<ul>
    <li><a href="https://github.com/Tautulli/Tautulli">Tautulli github repo</a></li>
    <li><a href="https://github.com/Tautulli/Tautulli-Wiki/wiki/Frequently-Asked-Questions">Official Tautulli FAQ</a></li>
</ul>