<h1>UnRAR</h1>
<p>This guide will show you how to install your own version of UnRAR. UnRAR will allow you to extract <samp>.rar</samp> archives and although it is already present on your server, there may be situations where you need a later version.</p>
<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#installation">Installing UnRAR</a></li>
            <li><a href="#usage">Using UnRAR</a></li>
            <li><a href="#uninstallation">Uninstallation</a></li>
        </ol>
    </nav>
</details> 

<h2 id="installation">Installing UnRAR</h2>
<p>To install it, simply log in via SSH then copy and paste the following commands:</p>
<pre><kbd>wget -qO unrar.tar.gz http://www.rarlab.com/rar/unrarsrc-5.7.5.tar.gz
tar xf ~/unrar.tar.gz
make -C ~/unrar
make -C ~/unrar install DESTDIR="$HOME"
rm -rf ~/unrar{,.tar.gz}</kbd></pre>

<h2 id="usage">Using UnRAR</h2>
<p>You can call UnRAR with <kbd>unrar</kbd> - the first thing output should be the version. If it's older than the version you just installed, it's probably that <samp>~/bin</samp> isn't in PATH. You can change that by copying and pasting the following via SSH:</p>
<pre><kbd>echo "PATH=~/bin:$PATH" > ~/.bashrc
source ~/.bashrc</kbd></pre>

<h2 id="uninstallation">Uninstallation</h2>
<p>To remove the version of UnRAR installed on your slot, copy and paste the following:</p>
<p><code>rm ~/bin/unrar</code></p>