<h1>Flood</h1>
<p>This article will show you how to install Flood. The software is a front-end for rTorrent and an alternative to ruTorrent.</p>
<p>Prior to using this guide, please make sure you have:</p>
<ul>
	<li><a href="../rutorrent">Installed rTorrent/ruTorrent</a></li>
	<li><a href="../nodejs">Installed Node.js</a></li>
</ul>
<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="../../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#installing">Installing Flood</a></li>
            <li><a href="#start-stop-restart">Starting, stopping and restarting</a></li>
            <li><a href="#usage">Using Flood</a></li>
            <li><a href="#troubleshooting">Troubleshooting</a></li>
        </ol>
    </nav>
</details> 

<h2 id="installing">Installing Flood</h2>
<p>Install Flood by logging in via SSH, then copying and pasting the following:</p>
<pre><kbd>npm install --global flood</kbd></pre>

<h2 id="start-stop-restart">Starting, stopping and restarting</h2>
<p>This section covers the Flood process - starting it, stopping it and restarting it. It also covers checking if the process is running, in case that becomes necessary.</p>
<dl>
    <dt>start and display URL</dt>
    <dd><kbd>screen -S flood flood --host 0.0.0.0 --port 3000<kbd></dd>
    <dt>check running</dt>
    <dd><kbd>pgrep -laf flood</kbd></dd>
    <dt>stop</dt>
    <dd><kbd>pkill -f flood</kbd></dd>
    <dt>kill (force stop)</dt>
    <dd><kbd>pkill -9 -f flood</kbd></dd>
</dl>

<h2 id="usage">Using Flood</h2>
<p>When you first navigate to the URL provided by the start command you'll be prompted by Flood to create an account. </p>

<h2 id="troubleshooting">Troubleshooting</h2>
<dl>
    <dt>On trying to build Flood I get the error <samp>Port 3000 is already in use</samp></dt>
    <dd>Try changing the port number in the 'start' command from 3000 to a random number.</dd>
</dl>
