<h1>Accessibility - notes</h1>

<p>
	Technical experience and compentence are not the only things which differentiate a user's ability to utilise the software and tools described in the wiki pages. Aside from those factors, accessibility may also play a large roll in determining whether (and how easily) a user can make use of the pages.
</p>

<h2>What is accessibility?</h2>
<p>
	Accessibility 
</p>

<h2>Making our guides more accessible</h2>
<p>There are some things to bear in mind when writing and editing articles, if one strives to make them as accessible to all as possible:</p>

<ul>
	<li>Images must have alt text describing the image in a sentence.</li>
	<li>Many visually-impaired users navigate by screen reader, sometimes tabbing through hyperlinks to get a mental picture on what the page is about
	<ul>
		<li>Links should therefore make sense as standalone entities.</li>
	</ul>
	</li>
	<li></li>
</ul>