
<h1>Maintenance</h1>
<p>I need to perform emergency security maintenance on all servers.</p>
<p>You will see the server reboot and then it will be inaccessible for up to three hours. You may see it respond to services such as ping, HTTP, SSH, FTP or SFTP but they won't work until the maintenance is completed. Once completed, the server will be running an updated kernel (currently <code>6.1.43</code>).</p>

<p>If you run into problems you should <a href="https://www.feralhosting.com/tickets/new">open a support ticket</a>.</p>

<h2>Progress</h2>
<p>Below is a list of servers and their current status:</p>
<table>
    <thead>
        <tr>
            <th>Server</th>
            <th>Started</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>selene</td><td>2023-08-09 12:06 bst</td><td>done</td></tr>
        <tr><td>chronos</td><td>2023-08-10 08:16 bst</td><td>done</td></tr>
        <tr><td>cottus</td><td>2023-08-10 11:00 bst</td><td>done</td></tr>
        <tr><td>leto</td><td>2023-08-10 12:00 bst</td><td>done</td></tr>
        <tr><td>porphyrion</td><td>2023-08-10 12:40 BST</td><td>done</td></tr>
        <tr><td>thoon</td><td>2023-08-10 14:05 BST</td><td>done</td></tr>
        <tr><td>dionysus</td><td>2023-08-10 14:30 BST</td><td>done</td></tr>
        <tr><td>gyges</td><td>2023-08-10 15:05 BST</td><td>done</td></tr>
        <tr><td>agrius</td><td>2023-08-10 16:00 BST</td><td>done</td></tr>
        <tr><td>metis</td><td>2023-08-10 16:20 BST</td><td>done</td></tr>
        <tr><td>polyphemus</td><td>2023-08-10 16:25 BST</td><td>done</td></tr>
        <tr><td>tityos</td><td>2023-08-10 16:30 BST</td><td>done</td></tr>
        <tr><td>arges</td><td>2023-08-10 16:35 BST</td><td>done</td></tr>
        <tr><td>cacus</td><td>2023-08-10 16:40 BST</td><td>done</td></tr>
        
        <tr><td>ophion</td><td>2023-08-10 17:05 BST</td><td>done</td></tr>
        <tr><td>talos</td><td>2023-08-10 17:05 BST</td><td>done</td></tr>
        <tr><td>geryon</td><td>2023-08-10 17:05 BST</td><td>done</td></tr>
        <tr><td>enceladus</td><td>2023-08-10 17:05 BST</td><td>done</td></tr>
        <tr><td>steropes</td><td>2023-08-10 17:05 BST</td><td>done</td></tr>
        <tr><td>orion</td><td>2023-08-10 17:05 BST</td><td>done</td></tr>
        
        <tr><td>hades</td><td>2023-08-10 17:50 BST</td><td>done</td></tr>
        <tr><td>apollo</td><td>2023-08-10 17:55 BST</td><td>done</td></tr>
        <tr><td>aigaion</td><td>2023-08-10 18:00 BST</td><td>done</td></tr>
        <tr><td>asia</td><td>2023-08-10 18:05 BST</td><td>done</td></tr>
        <tr><td>briareus</td><td>2023-08-10 18:10 BST</td><td>done</td></tr>
        <tr><td>uranus</td><td>2023-08-10 18:15 BST</td><td>done</td></tr>

        <tr><td>eurybia</td><td>2023-08-10 19:50 BST</td><td>done</td></tr>
        <tr><td>eos</td><td>2023-08-10 19:55 BST</td><td>done</td></tr>
        <tr><td>phoebe</td><td>2023-08-10 20:00 BST</td><td>done</td></tr>
        <tr><td>argus</td><td>2023-08-10 20:05 BST</td><td>done</td></tr>

        <tr><td>helios</td><td>2023-08-10 20:50 BST</td><td>done</td></tr>
        <tr><td>anax</td><td>2023-08-10 20:55 BST</td><td>done</td></tr>
        <tr><td>gegenees</td><td>2023-08-10 20:55 BST</td><td>done</td></tr>
        <tr><td>prometheus</td><td>2023-08-10 21:00 BST</td><td>done</td></tr>

        <tr><td>dione</td><td>2023-08-10 21:20 BST</td><td>dione</td></tr>
        <tr><td>tartarus</td><td>2023-08-10 21:25 BST</td><td>done</td></tr>
        <tr><td>atlas</td><td>2023-08-10 21:30 BST</td><td>done</td></tr>
        <tr><td>gaia</td><td>2023-08-10 21:35 BST</td><td>done</td></tr>

        <tr><td>aphrodite</td><td>2023-08-11 09:10 BST</td><td>done</td></tr>
        <tr><td>brontes</td><td>2023-08-11 09:15 BST</td><td>done</td></tr>
        <tr><td>thoas</td><td>2023-08-11 09:20 BST</td><td>done</td></tr>
        <tr><td>otos</td><td>2023-08-11 09:25 BST</td><td>done</td></tr>
        <tr><td>clytius</td><td>2023-08-11 09:10 BST</td><td>done</td></tr>

        <tr><td>ourea</td><td>2023-08-11 09:35 BST</td><td>done</td></tr>
        <tr><td>theia</td><td>2023-08-11 09:40 BST</td><td>done</td></tr>
        <tr><td>tethys</td><td>2023-08-11 09:45 BST</td><td>done</td></tr>
        <tr><td>crius</td><td>2023-08-11 09:50 BST</td><td>done</td></tr>

        <tr><td>perses</td><td>2023-08-11 10:20 BST</td><td>done</td></tr>
        <tr><td>alcyoneus</td><td>2023-08-11 10:23 BST</td><td>done</td></tr>
        <tr><td>chaos</td><td>2023-08-11 10:26 BST</td><td>done</td></tr>
        <tr><td>thalassa</td><td>2023-08-11 10:29 BST</td><td>done</td></tr>

        <tr><td>aloadae</td><td>2023-08-11 10:40 BST</td><td>done</td></tr>
        <tr><td>hemera</td><td>2023-08-11 10:45 BST</td><td>done</td></tr>
        <tr><td>aura</td><td>2023-08-11 10:50 BST</td><td>done</td></tr>
        <tr><td>morpheus</td><td>2023-08-11 10:55 BST</td><td>done</td></tr>

        <tr><td>hyperion</td><td>2023-08-11 12:50 BST</td><td>done</td></tr>
        <tr><td>eros</td><td>2023-08-11 12:50 BST</td><td>done</td></tr>
        <tr><td>pallas</td><td>2023-08-11 12:50 BST</td><td>done</td></tr>
        <tr><td>themis</td><td>2023-08-11 12:50 BST</td><td>done</td></tr>

        <tr><td>aion</td><td>2023-08-11 13:10 BST</td><td>done</td></tr>
        <tr><td>eurytus</td><td>2023-08-11 13:10 BST</td><td>done</td></tr>
        <tr><td>antiphates</td><td>2023-08-11 13:10 BST</td><td>done</td></tr>
        <tr><td>clymene</td><td>2023-08-11 13:10 BST</td><td>done</td></tr>

        <tr><td>asteria</td><td>2023-08-11 13:30 BST</td><td>done</td></tr>
        <tr><td>poseidon</td><td>2023-08-11 13:30 BST</td><td>done</td></tr>
        <tr><td>leon</td><td>2023-08-11 13:30 BST</td><td>done</td></tr>
        <tr><td>oceanus</td><td>2023-08-11 13:30 BST</td><td>done</td></tr>

        <tr><td>cronus</td><td>2023-08-11 14:35 BST</td><td>done</td></tr>
        <tr><td>menoetius</td><td>2023-08-11 14:35 BST</td><td>done</td></tr>
        <tr><td>styx</td><td>2023-08-11 14:35 BST</td><td>done</td></tr>
        <tr><td>antaeus</td><td>2023-08-11 14:35 BST</td><td>done</td></tr>

        <tr><td>nyx</td><td>2023-08-11 14:55 BST</td><td>done</td></tr>
        <tr><td>demeter</td><td>2023-08-11 14:55 BST</td><td>done</td></tr>
        <tr><td>phanes</td><td>2023-08-11 14:55 BST</td><td>done</td></tr>
        <tr><td>thanatos</td><td>2023-08-11 14:55 BST</td><td>done</td></tr>

        <tr><td>iapetus</td><td>2023-08-11 15:15 BST</td><td>done</td></tr>
        <tr><td>hestia</td><td>2023-08-11 15:15 BST</td><td>done</td></tr>
        <tr><td>hypnos</td><td>2023-08-11 15:15 BST</td><td>done</td></tr>
        <tr><td>epimetheus</td><td>2023-08-11 15:15 BST</td><td>done</td></tr>

        <tr><td>hephaestus</td><td>2023-08-11 16:00 BST</td><td>done</td></tr>
        <tr><td>athena</td><td>2023-08-11 16:00 BST</td><td>done</td></tr>
        <tr><td>coeus</td><td>2023-08-11 16:00 BST</td><td>done</td></tr>
        <tr><td>ananke</td><td>2023-08-11 16:00 BST</td><td>done</td></tr>

        <tr><td>eurymedon</td><td>2023-08-11 16:20 BST</td><td>done</td></tr>
        <tr><td>hera</td><td>2023-08-11 16:20 BST</td><td>done</td></tr>
        <tr><td>astraeus</td><td>2023-08-11 16:20 BST</td><td>done</td></tr>
        <tr><td>ares</td><td>2023-08-11 16:20 BST</td><td>done</td></tr>

        <tr><td>mimas</td><td>2023-08-11 18:00 BST</td><td>done</td></tr>
        <tr><td>lelantos</td><td>2023-08-11 18:00 BST</td><td>done</td></tr>
        <tr><td>aether</td><td>2023-08-11 18:00 BST</td><td>done</td></tr>
        <tr><td>hermes</td><td>2023-08-11 18:00 BST</td><td>done</td></tr>

        <tr><td>eurynome</td><td>2023-08-11 18:15 BST</td><td>done</td></tr>
        <tr><td>zeus</td><td>2023-08-11 18:15 BST</td><td>done</td></tr>
        <tr><td>nesoi</td><td>2023-08-11 18:15 BST</td><td>done</td></tr>
        <tr><td>rhea</td><td>2023-08-11 18:15 BST</td><td>done</td></tr>

        <tr><td>polybotes</td><td>2023-08-11 18:30 BST</td><td>done</td></tr>
        <tr><td>ephialtes</td><td>2023-08-11 18:30 BST</td><td>done</td></tr>

        <tr><td>erebus</td><td>2023-08-11 20:45 BST</td><td>done</td></tr>
        <tr><td>hippolytus</td><td>2023-08-11 20:45 BST</td><td>done</td></tr>
        <tr><td>mnemosyne</td><td>2023-08-11 20:45 BST</td><td>done</td></tr>
    </tbody>
</table>

<p>If your server is not listed then it is not being actively worked on. If you have a problem with your slot, please <a href="https://www.feralhosting.com/tickets/new">open a support ticket</a>.</p>
