<h1>Compiling software from source</h1>
<p>This guide which teach you how to install custom software by compiling it from its source code. It assumes you can run commands via SSH. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<p>You should also consider reading the <a href="generic-install-guide">general information on installing custom software</a> as background to this, though you might find it isn't necessary to install your desired piece of software.</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#prereq">Pre-requisites</a></li>
    		<li><a href="#get-build">Getting and building from source</a></li>
        </ol>
    </nav>
</details> 

<h2 id="prereq">Pre-requisites</h2>
<p>The first thing to do is to create the <samp>~/bin</samp> directory and reload the relevant files for the <samp>PATH</samp> setting to take effect using this command:</p>
<p><kbd>mkdir -p ~/bin &amp;&amp; bash</kbd></p>
<p>If the directory already exists you will not delete its contents by recreating it using the command above, so there's no need to worry about that.</p>

<h2 id="get-build">Getting and building from source</h2>
<p>The most obvious thing you need to then do is actually get the source code on your slot. In the example below we're downloading source files which are packaged as a <samp>tar</samp> archive. This is fairly common, but you might need to tweak things if you get errors.</p>
<pre><kbd>wget -qO source.tar.gz https://somesite.com/source-version.tar.gz
tar xf source.tar.gz
cd ~/source-version
./configure --prefix=$HOME
make &amp;&amp; make install</kbd></pre>
<p>The program will proceed to be built - it may take a while depending on the software. Once done, it should have been built with everything relative to $HOME - the software program itself (the executable binary) will most likely be in <samp>~/bin</samp>.</p>
<p>You can then clean up things if you want:</p>
<p>rm -rf source/tar.gz source-version/</p>